* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: rgb(253, 236, 215);
  position: fixed;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
section {
  background-color: rgb(252, 246, 240);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 80px;
}
.cards div {
  width: 30%;

}
.cards .img img {
  width: 200px;
  height: 200px;
}
