* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: rgb(253, 236, 215);
  position: fixed;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: 30%;
  height: 300px;
}
.card .img {
  width: 100px;
}
