* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: rgb(253, 236, 215);
  position: fixed;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
section {
  background-color: azure;
}
.section {
padding-top: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
input{
    padding: 8px 8px;
    width: 300px;
}
#submit{
    width: 100px;
    background-color: green;
    padding: 5px;
    border-radius: 4px;
    border: none;

}